@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.scrollbar-hide::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}

.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}


@keyframes borderColorChange {
  0% {
    border-color: blue;
  }

  20% {
    border-color: red;
  }

  40% {
    border-color: yellow;
  }

  60% {
    border-color: green;
  }

  80% {
    border-color: cyan;
  }

  100% {
    border-color: rgb(48, 48, 182);
  }
}

.borderAnimation {
  animation: borderColorChange 3s linear infinite;
}