@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

* {
  font-family: sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}

.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}


@keyframes borderColorChange {
  0% {
    border-color: blue;
  }

  25% {
    border-color: red;
  }

  50% {
    border-color: yellow;
  }

  75% {
    border-color: green;
  }

  100% {
    border-color: blue;
  }
}

.borderAnimation {
  animation: borderColorChange 3s linear infinite;
}