@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes borderColorChange {
  0% {
    border-color: blue;
  }

  25% {
    border-color: red;
  }

  50% {
    border-color: yellow;
  }

  75% {
    border-color: green;
  }

  100% {
    border-color: blue;
  }
}

.borderAnimation {
  animation: borderColorChange 3s linear infinite;
}